## 練習時間
在小量的資料上，我們用眼睛就可以看得出來程式碼是否有跑出我們理想中的結果

請嘗試想像一個你需要的資料結構 (裡面的值可以是隨機的)，然後用上述的方法把它變成 pandas DataFrame

#### Ex: 想像一個 dataframe 有兩個欄位，一個是國家，一個是人口，求人口數最多的國家

### Hints: [隨機產生數值](https://blog.csdn.net/christianashannon/article/details/78867204)

In [19]:
import pandas as pd
import numpy as np
import random

In [22]:
units = 1000000 #單位人口
low = 1
high = 500
countries = ['Taiwan', 'United States', 'Thailand', 'India']
populations = []

for i in range(len(countries)):
    populations.append(random.randint(low , high) * units)

print(populations)

data = { '國家': countries,
         '人口': populations
}

df = pd.DataFrame(data)
df

[257000000, 402000000, 229000000, 343000000]

              國家         人口
0         Taiwan  257000000
1  United States  402000000
2       Thailand  229000000
3          India  343000000

In [23]:
print("人口數最多的國家:" + countries[df['人口'].idxmax()])

人口數最多的國家:United States